*.iml
.gradle
.idea
.settings
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!*.apk
.project
DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestCalling.java
.project
.idea/misc.xml
.settings/org.eclipse.buildship.core.prefs
DemoNormal/.classpath
DemoNormal/.project
DemoNormal/.settings/org.eclipse.buildship.core.prefs
DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestChairman.java
DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestDialing.java
DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestMember.java
pgLibConference/.classpath
pgLibConference/.project
pgLibConference/.settings/org.eclipse.buildship.core.prefs
pgPluginLib/.classpath
pgPluginLib/.project
pgPluginLib/.settings/org.eclipse.buildship.core.prefs
pgPluginLibExter/.classpath
pgPluginLibExter/.project
pgPluginLibExter/.settings/org.eclipse.buildship.core.prefs
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestCalling.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestChairman.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestDialing.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestMember.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestCalling.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestChairman.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestDialing.java
/DemoNormal/src/androidTest/java/com/peergine/conference/demo/MainActivityTestMember.java
